@import '../styles/mediaQueryManager.scss';
@import '../styles/mixins.scss';
@import '../styles/variable.scss';
@import '../styles/utilities.scss';

@import '../styles/base/typography.scss';
@import '../styles/base/animation.scss';


// ----------------------------------- Home -------------------------
.homepage {
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;

  background-image: linear-gradient(rgba($color-gray-1, 0.8), rgba($color-gray-1, 0.8)),
    url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &_container {
    @include setWidth;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
    }

    @include respond(big) {
      justify-content: center;
    }
  }

  &__top {
    margin-top: 7rem;
    margin-bottom: -7rem;
    z-index: 10;

    @include respond(phone) {
      margin-bottom: -4rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 7rem;

    &>div {
      margin-top: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

}


// ----------------------------------- Gallery -------------------------

.gallery {
  display: flex;
  max-width: 70%;
  overflow: hidden;
  flex: 1 1 70%;
  align-items: center;
  margin-right: 4rem;

  @include respond(phone) {
    top: 45%;
    max-width: 100%;
    margin-right: auto;
  }
}

// ----------------------------------- Flash -------------------------

.flash {
  border-radius: .5rem;
  background-color: rgba($color-gray-1, .95);
  box-shadow: .5rem .8rem 3rem rgba($color-black, .4);
  max-height: 25rem;
  min-width: 30%;

  overflow: hidden;

  @include respond(tab-port) {
    height: 20rem;
  }

  @include respond(phone) {
    width: 100%;
    box-shadow: .5rem .5rem 2rem rgba($color-black, .2);
  }

  span{
    color: $color-primary-dark;
  }

  &__list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    animation: marquee 6s infinite cubic-bezier(1, 1, 1, 1);

    &:hover {
      animation-play-state: paused;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1.2rem 2rem;

    &:hover {
      background-color: lighten($color-primary-light, 50%);
    }
  }

  &__item {
    display: flex;
    align-items: stretch;

    &_icon {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      fill: $color-primary-light;
    }

    &_text {
      padding: .3rem;
      font-size: 1.4rem;
      color: $color-black !important;
    }
  }
}

.tab__trigger {

  ul {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    li {
      flex: 1;
      z-index: 50;
      position: relative;


      &:nth-child(1) {
        background-color: $color-gray-1;
      }

      &:nth-child(2) {
        background-color: $color-gray-2;
      }

      &:nth-child(3) {
        background-color: $color-gray-4;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        margin: auto;
        height: 3px;
        background-color: $color-primary-light;
      }

      label {
        position: relative;
        padding: 1rem;
        display: block;
        cursor: pointer;
      }
    }
  }
}

.tab__container_top {

  transition: all .3s;

  input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;

    &:checked+.tab__content {
      display: block;
    }
  }

  div {
    &:nth-of-type(1) {
      background-color: $color-gray-1;
    }

    &:nth-of-type(2) {
      background-color: $color-gray-2;
    }

    &:nth-of-type(3) {
      background-color: $color-gray-4;
    }
  }
}

.tab__content {
  height: 20rem;
  display: none;
}



// ----------------------------------- Feature -------------------------

.feature {
  @include setWidth;
  margin: 7rem auto;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &_col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }
  }

  @include respond(tab-port) {
    margin: 5rem auto;
  }
}

.vision {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.nba {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;

    li {
      font-size: 1.5rem;
    }
  }
}

.mission {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);

  @include respond(phone) {
    order: -1;
    margin-bottom: 2rem;
  }

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;
  }

  &__items {
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 40%;
        bottom: 0;
        left: 0;
        border-radius: 1px;
        background-color: $color-primary-light;
      }
    }
  }
}



// ----------------------------------- location -------------------------


.location {
  margin-bottom: -.7rem;

  iframe {
    width: 100%;
    height: 30rem;

    @include respond(tab-port) {
      height: 25rem;
    }

    @include respond(phone) {
      height: 20rem;
    }
  }
}
