@import "../../styles/mediaQueryManager.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";
@import "../../styles/utilities.scss";
@import "../../styles/base/typography.scss";

.main {
  @include setWidth;

  margin-top: 10rem;
  margin-bottom: 3rem;
}

.vmContainer,
.courses {
  padding: $base-padding;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: 3rem;
}

.vision {
  margin-bottom: 2rem;
}

.courses {
  font-size: 1.5rem;
  font-family: inherit;

  &__container {
    display: flex;
  }

  ul {
    flex: 1 1 50%;
    list-style: none;

    @include respond(phone) {
      flex: 1 1 100%;
    }
  }
}

.po,
.peo {
  padding-bottom: 1rem;

  ol {
    font-size: 1.5rem;
    padding-left: 2rem;

    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}


