@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin setWidth {
  width: 110rem;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 90%;
  }
}

@mixin fullSizeImage {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
