@import "../../../styles/mediaQueryManager.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/variable.scss";
@import "../../../styles/utilities.scss";

@import "../../../styles/base/typography.scss";

.card {
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 1px 0.3rem 1.2rem rgba($color-black, 0.4);
}

.img {
  overflow: hidden;

  img {
    width: 15rem;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;

  .heading_primary_main {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .designation {
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .inter {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__phn,
  &__mail,
  &__office {
    display: flex;
    align-items: flex-end;
    
    &:not(:last-child){
      margin-bottom: 1rem;
    }

    p,
    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.5rem;
      margin-left: 1rem;
      &:hover {
        color: $color-primary-dark;
        cursor: pointer !important;
      }
    }
  }

  &__phn {
    letter-spacing: 0.1em;
  }
}
