@import '../styles/mediaQueryManager.scss';
@import '../styles/mixins.scss';
@import '../styles/variable.scss';
@import '../styles/utilities.scss';

@import '../styles/base/typography.scss';
@import '../styles/base/animation.scss';


// ----------------------------------- Home -------------------------
.homepage {
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: linear-gradient(rgba($color-gray-1, 0.8), rgba($color-gray-1, 0.8)),
    url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &_container {
    @include setWidth;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
    }

    @include respond(big) {
      justify-content: center;
    }
  }

  &__top {
    margin-top: 7rem;
    margin-bottom: -7rem;
    z-index: 10;

    @include respond(phone) {
      margin-bottom: -4rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 7rem;

    &>div {
      margin-top: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

}


// ----------------------------------- Gallery -------------------------

.gallery {
  display: flex;
  max-width: 70%;
  overflow: hidden;
  flex: 1 1 70%;
  align-items: center;
  margin-right: 4rem;

  @include respond(phone) {
    top: 45%;
    max-width: 100%;
    margin-right: auto;
  }
}

// ----------------------------------- Feature -------------------------

.feature {
  @include setWidth;
  margin: 7rem auto;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &_col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }
  }

  @include respond(tab-port) {
    margin: 5rem auto;
  }
}

.vision {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.nba {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);
  background-color: $color-primary-light;

  &__heading {
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;
    margin-left: 1rem;
    color: $color-white;
    
    li {
      font-size: 1.5rem;

      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }
}

.mission {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px .3rem 1.2rem rgba($color-black, 0.4);

  @include respond(phone) {
    order: -1;
    margin-bottom: 2rem;
  }

  &__heading {
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    list-style: none;
  }

  &__items {
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 40%;
        bottom: 0;
        left: 0;
        border-radius: 1px;
        background-color: $color-primary-light;
      }
    }
  }
}



// ----------------------------------- location -------------------------


.location {
  margin-bottom: -.7rem;

  iframe {
    width: 100%;
    height: 30rem;

    @include respond(tab-port) {
      height: 25rem;
    }

    @include respond(phone) {
      height: 20rem;
    }
  }
}
