@import '../../styles/variable.scss';

.carousel {
  display: flex;
  align-items: center;
}

.slider {
  flex: 1 0 80%;
}

.galleryBtn {
  width: 4rem;
  height: 4rem;
  border: 1px solid $color-primary-light;
  border-Radius: 3rem;
  background-color: transparent;
  color: $color-primary-light;
  font-size: 3rem;
}
