@import '../../../styles/variable.scss';

.card {
  border-radius: 2px;
  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  display: inline-block;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 150%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-primary-light;
    transform: translate(-50%, -100%);
    transition: all .7s;
  }

  &:hover::after {
    transform: translate(-50%, -65%);
  }

  &__frame {
    padding: 3rem 4rem;
    text-align: center;
    z-index: 10;
  }

  &__figure {
    display: inline-block;
    width: 17rem;
    height: 17rem;
    border-radius: 50rem;
    margin-bottom: 4rem;
    z-index: 10;
    border: 0 solid transparent;
    overflow: hidden;
    transform: scale(1);
    transition: all .6s;
  }

  &:hover &__figure {
    transform: scale(1);
    border-width: 1.2rem;
    border-color: $color-primary-dark;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: top center;
    transition: all 0.9s ease 0s;
  }

  &:hover &__image {
    box-shadow: 0 0 0 1.2rem $color-white;
    transform: scale(0.87);
  }

  &__details {
    &_name {
      font-weight: 400;
      font-weight: 2rem;
    }

    &_designation {
      font-size: 1.5rem;
    }
  }

  &__cta {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: $color-primary-light;
    color: $color-white;
    transform: translateY(4rem);
    transition: transform .5s;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &:hover &__cta {
    transform: translateY(0);
  }
}
