@import '../../../styles/variable.scss';
@import '../../../styles/mediaQueryManager.scss';

.card {
  border-radius: 2px;
  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 0 .5rem 1rem rgba($color-black, .5);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 150%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-primary-light;
    transform: translate(-50%, -100%);
    transition: all .7s;
  }

  &:hover::after {
    transform: translate(-50%, -65%);
  }

  &__frame {
    padding: 3rem 4rem 1rem 4rem;
    text-align: center;
    z-index: 10;

    @include respond(phone) {
      padding: 2rem 2.5rem 1rem 2.5rem;
    }
  }

  &__figure {
    display: inline-block;
    width: 17rem;
    height: 17rem;
    border-radius: 50rem;
    margin-bottom: 1rem;
    z-index: 10;
    border: 0 solid transparent;
    overflow: hidden;
    transform: scale(1);
    transition: all .6s;

    @include respond(phone) {
      width: 15rem;
      height: 15rem;
    }

    @include respond(micro) {
      width: 13rem;
      height: 13rem;
    }
  }

  &:hover &__figure {
    transform: scale(1);
    border-width: 1.2rem;
    border-color: $color-primary-dark;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    object-position: top center;
    transition: all 0.9s ease 0s;
  }

  &:hover &__image {
    box-shadow: 0 0 0 1.2rem $color-white;
    transform: scale(0.87);
  }

  &__details {
    &_name {
      font-weight: 400;
      font-size: 2rem;
    }

    &_designation {
      font-size: 1.5rem;
    }
  }

  &__cta {
    display: block;
    width: 100%;
    padding: .5rem;
    background-color: $color-primary-light;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5.5rem);
    transition: transform .5s;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    margin: 0 .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    &>span {
      display: block;
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &:hover &__cta {
    transform: translateY(0);
  }
}
