/*
  DARK THEME / LIGHT THEME styling
  $scheme = dark | light
*/

@mixin theme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}

/* MEDIA QUERY MANAGER
 *
 * 0 - 600px => phone
 * 600px - 900px => tablet portrait
 * 900px - 1200px => tablet landscape
 * 1200px+ => desktop
 */

/*
 * CHOICES:
 * phone, tab-port, tab-lan, desk
 */

@mixin respond($breakpoint) {
  @if ($breakpoint==phone) {
    @media only screen and (max-width: 37.5em) {
      //600px = 37.5em (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==tab-port) {
    @media only screen and (max-width: 56.25em) {
      //900px = 56.25em (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==tab-port-touch) {

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
      //900px = 56.25em (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==tab-land) {
    @media only screen and (max-width: 75em) {
      //1200px = 75em (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==big) {
    @media screen and (max-width: 93.75em) {
      // 1500px = (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==huge) {
    @media only screen and (min-width: 112.5em) {
      //1800px = 112.5em (1em = 16px)
      @content;
    }
  }

  @if ($breakpoint==tiny) {
    @media only screen and (max-width: 31.25em) {
      // 500px
      @content;
    }
  }

  @if ($breakpoint==micro) {
    @media only screen and (max-width: 25em) {
      // 400px
      @content;
    }
  }
}