@import '../../styles/variable.scss';
@import '../../styles/base/typography.scss';

.accordion_section {
  display: flex;
  flex-direction: column;
  border-radius: .8rem;
  box-shadow: 0 0 .8rem rgba($color-black, 0.4);
}

.accordion_title {
  font-family: $font-family-default;
  background-color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 2rem 1rem;
  border-radius: .8rem;
  transition: background-color 0.4s ease;
}

.accordion_icon {
  margin-left: auto;
  color: $color-primary-dark;
  font-size: 2rem;
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(-90deg);
}

.accordion_content {
  background-color: $color-white;
  overflow: hidden;
  border-radius: .5rem;
  transition: max-height 0.4s ease;
  padding: 0 1rem;
}
