@import "../../../styles/mediaQueryManager.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/variable.scss";
@import "../../../styles/utilities.scss";
@import "../../../styles/base/typography.scss";

.main {
  @include setWidth;

  margin-top: 10rem;
  margin-bottom: 3rem;

  .flexContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    &>.flexItem {
      flex: 1 1 25%;

      margin: 1rem;

      @include respond(tiny) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
