@import '../../styles/mediaQueryManager.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variable.scss';
@import '../../styles/utilities.scss';
@import '../../styles/base/typography.scss';


.main {
  margin-top: 10rem !important;
  margin-bottom: 3rem !important;

  @include setWidth;

}


.container{
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  padding : $base-padding;
}